@use 'abstracts';

input {
  width: 100%;
  padding: abstracts.$padding;
  font-size: abstracts.$font-size-base;
  border: 1px solid abstracts.$input-border-color;
  border-radius: 4px;
  margin-bottom: 1rem;
  box-sizing: border-box;

  &:focus {
    border-color: abstracts.$primary-color;
    outline: none;
  }

  &::placeholder {
    color: abstracts.$text-color;
  }
}

button {
  @include abstracts.button-style(abstracts.$button-color, abstracts.$hover-color);  // Corrected the variable name
  width: 100%;
  padding: abstracts.$padding;
  font-size: abstracts.$font-size-base;
  border-radius: 4px;
  cursor: pointer;
}

a {
  color: abstracts.$primary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
